@page "/game"

<h3>Game</h3>
<div class="container-fluid">
    <div class="listbox-area">
        <div>
            <span id="ss_elem" class="listBoxLabel">
                <h4>Task List</h4>
            </span>
            <ul class="list-group" id="ss_elem_list"
                tabindex="1"
                role="listbox">
                <li id="ss_elem_task" role="task">
                    <input type ="checkbox">
                    Library
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    Culp
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    CPA
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    MC
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    Library
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    Culp
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    CPA
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    MC
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    Library
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    Culp
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    CPA
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    MC
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    Library
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    Culp
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    CPA
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    MC
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    Library
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    Culp
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    CPA
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    MC
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    Library
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    Culp
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    CPA
                </li>
                <li id="ss_elem_task" role="task">
                    <input type="checkbox">
                    MC
                </li>

            </ul>
        </div>
    </div>
</div>
@code {



}
