@page "/"
@using BlazorApp1.Data
@using Microsoft.Extensions.Logging
@inject ILogger<Index> Logger
@inject NavigationManager NavigationManager

<div class="indexForm">
    <EditForm Model="@userModel" OnValidSubmit="@HandleValidSubmit">

        <DataAnnotationsValidator />

        Display Name:
        <InputText class="indexForm" id="DisplayName" @bind-Value="userModel.DisplayName" />
        Access Code:
        <InputText class="indexForm" id="AccessCode" @bind-Value="userModel.AccessCode" />
        <div class="d-flex justify-content-center">
            <button class="btn btn-success btn-form btn-sm" href="/Game.razor" type="submit">Submit</button>
        </div>
        <div class="validateSummary">
            <ValidationSummary />
        </div>
    </EditForm>
</div>
<SurveyPrompt Title="Problems?" />
<hr />



@code {
    private UserModel userModel = new UserModel();

    private void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");
        NavigationManager.NavigateTo("/game");
    }

}
